<!-- Spinner Start -->

<!-- <div
  id="spinner"
  class="show position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
>
  <div class="spinner-grow text-warning" role="status"></div>
</div> -->
<!-- Spinner End -->

<!-- Carousel Start  == SLIDER-->
<div class="container-fluid px-0">
  <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
    <!-- Navbar Start -->
    <div
      class="container-fluid"
      style="
        background-color: hsla(0, 0%, 0%, 0) !important;
        /* backdrop-filter: saturate(200%) blur(15px); */
        z-index: 9999;
        /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.141); */
        position: absolute;
        padding-top: 1px;
        height: 60px;

        margin-bottom: -100px;
      "
    >
      <div class="container" style="margin-bottom: -20px; margin-bottom: 7px">
        <nav class="navbar navbar-dark navbar-expand-lg py-0">
          <a href="index.html" class="navbar-brand"
            ><span class="d-none d-sm-block"
              ><img
                src="https://media.licdn.com/dms/image/C4D03AQEG6aSJ_J7RJQ/profile-displayphoto-shrink_400_400/0/1654767402542?e=2147483647&v=beta&t=cIrhBpzBTGOAhVo8FanZITMZC_rEumi615VHqGeOJqE"
                style="
                  opacity: 78%;
                  height: 42px;
                  width: 45px;
                  border-radius: 50%;
                  margin-left: -35px;
                  margin-top: 4.5px;
                  position: absolute;
                "
                alt=""
            /></span>
            <h2 id="h11" class="fw-bold d-block">
              Juvenilia
              <span class="text-secondary"></span>
            </h2>
          </a>
          <button
            type="button"
            class="navbar-toggler me-0"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse bg-transparent"
            id="navbarCollapse"
          >
            <div class="navbar-nav ms-auto mx-xl-auto p-0">
              <a
                class="nav-item nav-link"
                style="color: #e2e2e2; margin-left: 50px"
                ><h5>Home</h5></a
              >
              <a href="about.html" class="nav-item nav-link"><h5>About</h5></a>
              <a href="service.html" class="nav-item nav-link"
                ><h5>Services</h5></a
              >
              <a href="project.html" class="nav-item nav-link"
                ><h5>Projects</h5></a
              >
              <div class="nav-item dropdown">
                <a href="#" class="nav-link"><h5>Pages</h5></a>
                <div class="dropdown-menu rounded">
                  <a href="blog.html" class="dropdown-item">Our Blog</a>
                  <a href="team.html" class="dropdown-item">Our Team</a>
                  <a href="testimonial.html" class="dropdown-item"
                    >Testimonial</a
                  >
                  <a href="404.html" class="dropdown-item">404 Page</a>
                </div>
              </div>
              <a href="contact.html" class="nav-item nav-link"
                ><h5>Contact</h5></a
              >
            </div>
          </div>
          <div class="d-none d-xl-flex flex-shirink-0">
            <div
              id="phone-tada"
              class="d-flex align-items-center justify-content-center me-4"
            >
              <a href="" class="position-relative animated tada infinite">
                <i class="fa fa-phone-alt text-white fa-2x"></i>
                <div class="position-absolute" style="top: -7px; left: 20px">
                  <span><i class="fa fa-comment-dots text-secondary"></i></span>
                </div>
              </a>
            </div>
            <div class="d-flex flex-column pe-4 border-end">
              <span class="text-white-50">Have any questions?</span>
              <span class="" style="color: #ffffff">Call: + 9999 890</span>
            </div>
            <div class="d-flex align-items-center justify-content-center ms-4">
              <a href="#"><i class="bi bi-search text-white fa-2x"></i> </a>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- Navbar End -->
    <!-- Topbar Start -->
    <div
      class="container-fluid py-2 d-none d-md-flex"
      style="
        background-color: rgba(0, 0, 0, 0);
        /* margin-bottom: -39px; */
        position: absolute;
        margin-top: 3.5%;
      "
    >
      <div class="container" style="z-index: 1111">
        <div class="d-flex justify-content-between topbar">
          <div class="top-info"></div>
          <div id="note" class="d-none d-xl-flex" style="color: #ff9c12">
            <small>Note : We help you to Grow your Business</small>
          </div>
          <div class="top-link"></div>
        </div>
      </div>
    </div>
    <!-- Topbar End -->
    <!-- <ol class="carousel-indicators">
      <li
        data-bs-target="#carouselId"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="First slide"
      ></li>
      <li
        data-bs-target="#carouselId"
        data-bs-slide-to="1"
        aria-label="Second slide"
      ></li>
    </ol> -->
    <div class="carousel-inner" role="listbox mt-5">
      <div class="carousel-item active" style="height: 100vh">
        <img
          src="https://images.unsplash.com/photo-1665952455858-f97612bf7e02?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="img-fluid"
          alt="First slide"
        />
        <div class="carousel-caption">
          <div
            class="container carousel-content"
            data-aos="fade-up"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000"
            style="margin-top: 14%"
          >
            <h6 class="text-light h4 animated fadeInUp">Best IT Solutions</h6>
            <h1
              class="text-white display-1 mb-4 animated fadeInRight"
              style="font-weight: 350"
            >
              <span style="color: #000000">An Innovative</span> IT Solutions
              Agency
            </h1>
            <p class="mb-4 text-white fs-5 animated fadeInDown">
              Lorem ipsum dolor sit amet elit. Sed efficitur quis purus ut
              interdum. Pellentesque aliquam dolor eget urna ultricies
              tincidunt.
            </p>
            <a href="" class="me-2"
              ><button
                type="button"
                class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn1 animated fadeInLeft"
                style="background-color: rgba(255, 255, 255, 0.354)"
              >
                Read More
              </button></a
            >
            <a href="" class="ms-2"
              ><button
                type="button"
                class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn2 animated fadeInRight"
                style="background-color: #ff6822d0"
              >
                Contact Us
              </button></a
            >
          </div>
        </div>
      </div>
      <div class="carousel-item" style="height: 100vh">
        <img
          src="https://images.unsplash.com/photo-1512187849-463fdb898f21?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="img-fluid"
          alt="Second slide"
        />
        <div class="carousel-caption">
          <div class="container carousel-content" style="margin-top: 14%">
            <h6 class="h4 animated fadeInUp">Best IT Solutions</h6>
            <h1 class="text-white display-1 mb-4 animated fadeInLeft">
              <span style="color: #000000">Quality Digital</span> Services You
              Really Need!
            </h1>
            <p class="mb-4 text-white fs-5 animated fadeInDown">
              Lorem ipsum dolor sit amet elit. Sed efficitur quis purus ut
              interdum. Pellentesque aliquam dolor eget urna ultricies
              tincidunt.
            </p>
            <a href="" class="me-2"
              ><button
                type="button"
                class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn1 animated fadeInLeft"
                style="background-color: rgba(240, 248, 255, 0.514)"
              >
                Read More
              </button></a
            >
            <a href="" class="ms-2"
              ><button
                type="button"
                class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn2 animated fadeInRight"
                style="background-color: #ff6822d4"
              >
                Contact Us
              </button></a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- About Start -->
    <div class="container-fluid py-5 my-5">
      <div class="container pt-5" style="margin-top: -4.8%">
        <div class="row g-5">
          <div
            class="col-lg-5 col-md-6 col-sm-12 wow fadeIn"
            data-wow-delay=".3s"
          >
            <div class="h-100 position-relative">
              <img
                data-aos="fade-right"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="1500"
                src="https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="img-fluid w-75 h-85 rounded"
                alt=""
                style="margin-bottom: 25%"
              />
              <div class="position-absolute w-75" style="top: 25%; left: 25%">
                <img
                  data-aos="flip-left"
                  data-aos-easing="ease-out-cubic"
                  data-aos-duration="3000"
                  src="https://images.unsplash.com/photo-1590410413989-335162b01314?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  class="img-fluid w-100 rounded"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div
            class="col-lg-7 col-md-6 col-sm-12 wow fadeIn"
            data-wow-delay=".5s"
            data-aos="fade-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000"
          >
            <h5 class="" style="color: #ff6822">About Us</h5>
            <h1 class="mb-4">
              About Juvenilia's Agency And It's Innovative IT Solutions
            </h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
              efficitur quis purus ut interdum. Pellentesque aliquam dolor eget
              urna ultricies tincidunt. Nam volutpat libero sit amet leo cursus,
              ac viverra eros tristique. Morbi quis quam mi. Cras vel gravida
              eros. Proin scelerisque quam nec elementum viverra. Suspendisse
              viverra hendrerit diam in tempus. Etiam gravida justo nec erat
              vestibulum, et malesuada augue laoreet.
            </p>
            <p class="mb-4">
              Pellentesque aliquam dolor eget urna ultricies tincidunt. Nam
              volutpat libero sit amet leo cursus, ac viverra eros tristique.
              Morbi quis quam mi. Cras vel gravida eros. Proin scelerisque quam
              nec elementum viverra. Suspendisse viverra hendrerit diam in
              tempus.
            </p>
            <a href="" class="btn bg-black rounded-pill px-5 py-3 text-white"
              >More Details</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- About End -->

    <!-- Fact Start -->
    <div
      class="container-fluid py-5"
      style="background-color: #acacac00; margin-top: -4%"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-3 wow fadeIn" data-wow-delay=".1s">
            <div class="d-flex counter">
              <h1
                class="me-3 counter-value"
                style="color: #ff6922"
                data-numbers="99"
              >
                {{ pcount }}
              </h1>
              <h5 class="mt-1" style="color: rgba(0, 0, 0, 0.67)">
                Success in getting happy customer
              </h5>
            </div>
          </div>
          <div class="col-lg-3 wow fadeIn" data-wow-delay=".3s">
            <div class="d-flex counter">
              <h1 class="me-3 counter-value" style="color: #ff6922">25</h1>
              <h5 class="mt-1" style="color: rgba(0, 0, 0, 0.67)">
                Thousands of successful business
              </h5>
            </div>
          </div>
          <div class="col-lg-3 wow fadeIn" data-wow-delay=".5s">
            <div class="d-flex counter">
              <h1 class="me-3 counter-value" style="color: #ff6822">120</h1>
              <h5 class="mt-1" style="color: rgba(0, 0, 0, 0.67)">
                Total clients who love Juvenilia
              </h5>
            </div>
          </div>
          <div class="col-lg-3 wow fadeIn" data-wow-delay=".7s">
            <div class="d-flex counter">
              <h1 class="me-3 counter-value" style="color: #ff6922">5</h1>
              <h5 class="mt-1" style="color: rgba(0, 0, 0, 0.67)">
                Stars reviews given by satisfied clients
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fact End -->
    <!-- Services Start -->
    <div class="container-fluid services py-5 mb-5">
      <div class="container">
        <div
          class="text-center mx-auto pb-5 wow fadeIn"
          data-wow-delay=".3s"
          style="max-width: 600px"
        >
          <h5
            class=""
            style="color: #ff6922"
            data-aos="fade-up"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000"
          >
            Our Services
          </h5>
          <h1>Services Built Specifically For Your Business</h1>
        </div>
        <div class="row g-5 services-inner">
          <div
            class="col-md-6 col-lg-4 wow fadeIn"
            data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="1000"
            data-wow-delay=".3s"
          >
            <div class="services-item bg-light">
              <div class="p-4 text-center services-content">
                <div class="services-content-icon">
                  <i class="fa fa-code fa-3x mb-4" style="color: #ff6922"></i>
                  <h4 class="mb-3">Web Design</h4>
                  <p class="mb-4">
                    Lorem ipsum dolor sit amet elit. Sed efficitur quis purus ut
                    interdum. Aliquam dolor eget urna ultricies tincidunt.
                  </p>
                  <a
                    href=""
                    class="btn text-white px-5 py-3 rounded-pill"
                    style="background-color: #ff6922"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-md-6 col-lg-4 wow fadeIn"
            data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000"
            data-wow-delay=".5s"
          >
            <div class="services-item bg-light">
              <div class="p-4 text-center services-content">
                <div class="services-content-icon">
                  <i class="fa fa-file fa-3x mb-4" style="color: #ff6922"></i>
                  <h4 class="mb-3">Web Development</h4>
                  <p class="mb-4">
                    Lorem ipsum dolor sit amet elit. Sed efficitur quis purus ut
                    interdum. Aliquam dolor eget urna ultricies tincidunt.
                  </p>
                  <a
                    href=""
                    class="btn text-white px-5 py-3 rounded-pill"
                    style="background-color: #ff6922"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-md-6 col-lg-4 wow fadeIn"
            data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="3000"
            data-wow-delay=".7s"
          >
            <div class="services-item bg-light">
              <div class="p-4 text-center services-content">
                <div class="services-content-icon">
                  <i
                    class="fa fa-external-link fa-3x mb-4"
                    style="color: #ff6922"
                  ></i>
                  <h4 class="mb-3">UI/UX Design</h4>
                  <p class="mb-4">
                    Lorem ipsum dolor sit amet elit. Sed efficitur quis purus ut
                    interdum. Aliquam dolor eget urna ultricies tincidunt.
                  </p>
                  <a
                    href=""
                    class="btn text-white px-5 py-3 rounded-pill"
                    style="background-color: #ff6922"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-md-6 col-lg-4 wow fadeIn"
            data-aos="fade-up"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="1000"
            data-wow-delay=".3s"
          >
            <div class="services-item bg-light">
              <div class="p-4 text-center services-content">
                <div class="services-content-icon">
                  <i
                    class="fa fa-user-secret fa-3x mb-4"
                    style="color: #ff6922"
                  ></i>
                  <h4 class="mb-3">Web Cecurity</h4>
                  <p class="mb-4">
                    Lorem ipsum dolor sit amet elit. Sed efficitur quis purus ut
                    interdum. Aliquam dolor eget urna ultricies tincidunt.
                  </p>
                  <a
                    href=""
                    class="btn text-white px-5 py-3 rounded-pill"
                    style="background-color: #ff6922"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-md-6 col-lg-4 wow fadeIn"
            data-aos="fade-up"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000"
            data-wow-delay=".5s"
          >
            <div class="services-item bg-light">
              <div class="p-4 text-center services-content">
                <div class="services-content-icon">
                  <i
                    class="fa fa-envelope-open fa-3x mb-4"
                    style="color: #ff6922"
                  ></i>
                  <h4 class="mb-3">Digital Marketing</h4>
                  <p class="mb-4">
                    Lorem ipsum dolor sit amet elit. Sed efficitur quis purus ut
                    interdum. Aliquam dolor eget urna ultricies tincidunt.
                  </p>
                  <a
                    href=""
                    class="btn text-white px-5 py-3 rounded-pill"
                    style="background-color: #ff6922"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-md-6 col-lg-4 wow fadeIn"
            data-aos="fade-up"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="3000"
            data-wow-delay=".7s"
          >
            <div class="services-item bg-light">
              <div class="p-4 text-center services-content">
                <div class="services-content-icon">
                  <i class="fa fa-laptop fa-3x mb-4" style="color: #ff6922"></i>
                  <h4 class="mb-3">Programming</h4>
                  <p class="mb-4">
                    Lorem ipsum dolor sit amet elit. Sed efficitur quis purus ut
                    interdum. Aliquam dolor eget urna ultricies tincidunt.
                  </p>
                  <a
                    href=""
                    class="btn text-white px-5 py-3 rounded-pill"
                    style="background-color: #ff6922"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Services End -->

    <!-- Project Start -->
    <div class="container-fluid project py-5 mb-5">
      <div class="container">
        <div
          class="text-center mx-auto pb-5 wow fadeIn"
          data-wow-delay=".3s"
          style="max-width: 600px"
        >
          <h5
            class=""
            style="color: #ff6922"
            data-aos="fade-up"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="1000"
          >
            Our Project
          </h5>
          <h1>Our Recently Completed Projects</h1>
        </div>
        <div class="row g-5">
          <div
            class="col-md-6 col-lg-4 wow fadeIn"
            data-wow-delay=".3s"
            data-aos="fade-right"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000"
          >
            <div class="project-item">
              <div class="project-img">
                <img
                  src="https://images.unsplash.com/photo-1588789060769-5a30b843d6b6?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  class="img-fluid w-100 rounded"
                  style="height: 450px"
                  alt=""
                />
                <div class="project-content">
                  <a href="#" class="text-center">
                    <h4 class="" style="color: #ff6922">Web design</h4>
                    <p class="m-0 text-white">Web Analysis</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-md-6 col-lg-4 wow fadeIn"
            data-wow-delay=".5s"
            data-aos="flip-right"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000"
          >
            <div class="project-item">
              <div class="project-img">
                <img
                  src="https://images.unsplash.com/photo-1572519841588-cb307c79561e?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  class="img-fluid w-100 rounded"
                  style="height: 450px"
                  alt=""
                />

                <div class="project-content">
                  <a href="#" class="text-center">
                    <h4 class="" style="color: #ff6922">Cyber Security</h4>
                    <p class="m-0 text-white">Cyber Security Core</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-md-6 col-lg-4 wow fadeIn"
            data-aos="fade-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="3000"
            data-wow-delay=".7s"
          >
            <div class="project-item">
              <div class="project-img">
                <img
                  src="https://images.unsplash.com/photo-1595087873528-1fe582a3b302?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  class="img-fluid w-100 rounded"
                  style="height: 450px"
                  alt=""
                />
                <div class="project-content">
                  <a href="#" class="text-center">
                    <h4 class="" style="color: #ff6922">Mobile Info</h4>
                    <p class="m-0 text-white">Upcomming Phone</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-md-6 col-lg-4 wow fadeIn"
            data-wow-delay=".3s"
            data-aos="fade-right"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="1000"
          >
            <div class="project-item">
              <div class="project-img">
                <img
                  src="https://images.unsplash.com/photo-1581013793663-dedd7e462266?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  class="img-fluid w-100 rounded"
                  style="height: 450px"
                  alt=""
                />
                <div class="project-content">
                  <a href="#" class="text-center">
                    <h4 class="" style="color: #ff6922">Web Development</h4>
                    <p class="m-0 text-white">Web Analysis</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-md-6 col-lg-4 wow fadeIn"
            data-aos="flip-right"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="3000"
            data-wow-delay=".5s"
          >
            <div class="project-item">
              <div class="project-img">
                <img
                  src="https://images.unsplash.com/photo-1573285750682-05689540dfbc?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  class="img-fluid w-100 rounded"
                  style="height: 450px"
                  alt=""
                />
                <div class="project-content">
                  <a href="#" class="text-center">
                    <h4 class="" style="color: #ff6922">Digital Marketing</h4>
                    <p class="m-0 text-white">Marketing Analysis</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-md-6 col-lg-4 wow fadeIn"
            data-aos="fade-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000"
            data-wow-delay=".7s"
          >
            <div class="project-item">
              <div class="project-img">
                <img
                  src="https://images.unsplash.com/photo-1565065598196-aa15dde2cbca?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  class="img-fluid w-100 rounded"
                  style="height: 450px"
                  alt=""
                />
                <div class="project-content">
                  <a href="#" class="text-center">
                    <h4 class="" style="color: #ff6922">keyword Research</h4>
                    <p class="m-0 text-white">keyword Analysis</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Project End -->

    <!-- Blog Start -->

    <!-- Team Start -->
    <div class="container-xxl py-5">
      <div class="container py-5 px-lg-5">
        <div class="wow fadeInUp" data-wow-delay="0.1s">
          <p
            data-aos="fade-up"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000"
            class="section-title text-center justify-content-center"
            style="color: #ff6922; font-size: 18px; font-weight: 500"
          >
            <span>---Our Team--</span>
          </p>
          <h1 class="text-center mb-5">Our Team Members</h1>
        </div>
        <div class="row g-4">
          <div
            class="col-lg-3 col-md-3 wow fadeInUp"
            data-wow-delay="0.1s"
            data-aos="zoom-out"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="700"
          >
            <div class="team-item bg-light rounded">
              <div class="text-center border-bottom p-4">
                <img
                  class="img-fluid rounded-circle mb-4"
                  src="./assets/rashmisir.jpg"
                  alt=""
                />
                <h5>Rashmi Kanta Das</h5>
                <span>CEO & Founder</span>
              </div>
              <div class="d-flex justify-content-center p-4">
                <a class="btn btn-square mx-1" href=""
                  ><i class="fa fa-facebook-f"></i
                ></a>
                <a class="btn btn-square mx-1" href=""
                  ><i class="fa fa-twitter"></i
                ></a>
                <a class="btn btn-square mx-1" href=""
                  ><i class="fa fa-instagram"></i
                ></a>
                <a class="btn btn-square mx-1" href=""
                  ><i class="fa fa-linkedin"></i
                ></a>
              </div>
            </div>
          </div>
          <div
            class="col-lg-3 col-md-3 wow fadeInUp"
            data-aos="zoom-out"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="1700"
            data-wow-delay="0.3s"
          >
            <div class="team-item bg-light rounded">
              <div class="text-center border-bottom p-4">
                <img
                  class="img-fluid rounded-circle mb-4"
                  src="https://www.iprcenter.gov/image-repository/blank-profile-picture.png/@@images/image.png"
                  alt=""
                />
                <h5>Chris Brown</h5>
                <span>Web Designer</span>
              </div>
              <div class="d-flex justify-content-center p-4">
                <a class="btn btn-square mx-1" href=""
                  ><i class="fa fa-facebook-f"></i
                ></a>
                <a class="btn btn-square mx-1" href=""
                  ><i class="fa fa-twitter"></i
                ></a>
                <a class="btn btn-square mx-1" href=""
                  ><i class="fa fa-instagram"></i
                ></a>
                <a class="btn btn-square mx-1" href=""
                  ><i class="fa fa-linkedin"></i
                ></a>
              </div>
            </div>
          </div>
          <div
            class="col-lg-3 col-md-3 wow fadeInUp"
            data-wow-delay="0.5s"
            data-aos="zoom-out"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2500"
          >
            <div class="team-item bg-light rounded">
              <div class="text-center border-bottom p-4">
                <img
                  class="img-fluid rounded-circle mb-4"
                  src="https://www.iprcenter.gov/image-repository/blank-profile-picture.png/@@images/image.png"
                  alt=""
                />
                <h5>Tony Johnson</h5>
                <span>SEO Expert</span>
              </div>
              <div class="d-flex justify-content-center p-4">
                <a class="btn btn-square mx-1" href=""
                  ><i class="fa fa-facebook-f"></i
                ></a>
                <a class="btn btn-square mx-1" href=""
                  ><i class="fa fa-twitter"></i
                ></a>
                <a class="btn btn-square mx-1" href=""
                  ><i class="fa fa-instagram"></i
                ></a>
                <a class="btn btn-square mx-1" href=""
                  ><i class="fa fa-linkedin"></i
                ></a>
              </div>
            </div>
          </div>
          <div
            class="col-lg-3 col-md-3 wow fadeInUp"
            data-aos="zoom-out"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="3000"
            data-wow-delay="0.3s"
          >
            <div class="team-item bg-light rounded">
              <div class="text-center border-bottom p-4">
                <img
                  class="img-fluid rounded-circle mb-4"
                  src="https://www.iprcenter.gov/image-repository/blank-profile-picture.png/@@images/image.png"
                  alt=""
                />
                <h5>Chris Brown</h5>
                <span>Web Designer</span>
              </div>
              <div class="d-flex justify-content-center p-4">
                <a class="btn btn-square mx-1" href=""
                  ><i class="fa fa-facebook-f"></i
                ></a>
                <a class="btn btn-square mx-1" href=""
                  ><i class="fa fa-twitter"></i
                ></a>
                <a class="btn btn-square mx-1" href=""
                  ><i class="fa fa-instagram"></i
                ></a>
                <a class="btn btn-square mx-1" href=""
                  ><i class="fa fa-linkedin"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Team End -->
    <!-- -------------------Testimonials ------------------------------------------------------------------------------------------------->
    <p
      data-aos="fade-up"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="3000"
      class="section-title text-center justify-content-center"
      style="color: #ff6922; font-size: 18px; font-weight: 500"
    >
      <span>---Our Testimonial--</span>
    </p>
    <h1 class="text-center mb-5">Our Client Saying!</h1>
    <div class="container mt-5 mb-5">
      <div class="row g-2">
        <div class="col-md-4">
          <div class="card p-3 text-center px-4">
            <div class="user-image">
              <img
                src="https://i.imgur.com/PKHvlRS.jpg"
                class="rounded-circle"
                width="80"
              />
            </div>

            <div class="user-content">
              <h5 class="mb-0">Bruce Hardy</h5>
              <span>Software Developer</span>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>

            <div class="ratings">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card p-3 text-center px-4">
            <div class="user-image">
              <img
                src="https://i.imgur.com/w2CKRB9.jpg"
                class="rounded-circle"
                width="80"
              />
            </div>

            <div class="user-content">
              <h5 class="mb-0">Mark Smith</h5>
              <span>Web Developer</span>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>

            <div class="ratings">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card p-3 text-center px-4">
            <div class="user-image">
              <img
                src="https://i.imgur.com/ACeArwY.jpg"
                class="rounded-circle"
                width="80"
              />
            </div>

            <div class="user-content">
              <h5 class="mb-0">Veera Duncan</h5>
              <span>Software Architect</span>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>

            <div class="ratings">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact ======================================================================================================================================================-->
    <section class="contact d-flex align-items-center py-5" id="contact">
      <div
        class="container-fluid text-light"
        style="margin-top: 2%; margin-bottom: 5%"
      >
        <div class="row">
          <div
            class="col-lg-6 d-flex justify-content-center justify-content-lg-end align-items-center px-lg-5"
            data-aos="fade-right"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="3000"
          >
            <div style="width: 90%">
              <div class="text-center text-lg-start py-4 pt-lg-0">
                <h5
                  style="color: #ff6922"
                  data-aos="flip-right"
                  data-aos-easing="ease-out-cubic"
                  data-aos-duration="3000"
                >
                  CONTACT
                </h5>
                <h2 class="py-2" style="color: #000000a2">Send your query</h2>
                <p class="para-light" style="color: #0000005c">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Dignissimos dicta mollitia totam explicabo obcaecati quia
                  laudantium repudiandae.
                </p>
              </div>
              <div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group py-2">
                      <input
                        type="text"
                        class="form-control form-control-input"
                        id="exampleFormControlInput1"
                        placeholder="Enter name"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group py-2">
                      <input
                        type="email"
                        class="form-control form-control-input"
                        id="exampleFormControlInput2"
                        placeholder="Enter phone number"
                      />
                    </div>
                  </div>
                </div>
                <div class="form-group py-1">
                  <input
                    type="email"
                    class="form-control form-control-input"
                    id="exampleFormControlInput3"
                    placeholder="Enter email"
                  />
                </div>
                <div class="form-group py-2">
                  <textarea
                    class="form-control form-control-input"
                    id="exampleFormControlTextarea1"
                    rows="6"
                    placeholder="Message"
                  ></textarea>
                </div>
              </div>
              <div class="my-3">
                <a
                  class="btn form-control-submit-button"
                  href="#your-link"
                  style="background-color: #ff5500a1; width: 120px"
                  >Submit</a
                >
              </div>
            </div>
            <!-- end of div -->
          </div>
          <!-- end of col -->
          <div
            class="col-lg-6 d-flex align-items-center"
            data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="3000"
          >
            <img
              style="
                height: 450px;
                border-radius: 20px;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.408);
              "
              class="img-fluid d-none d-lg-block"
              src="https://images.unsplash.com/photo-1562504208-03d85cc8c23e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="contact"
            />
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </section>
    <!-- end of contact -->
    <!-- Footer Start -->
    <div
      class="container-fluid footer bg-black wow fadeIn"
      data-wow-delay=".3s"
    >
      <div class="container pt-5 pb-4">
        <div class="row g-5">
          <div class="col-lg-3 col-md-6">
            <a href="" style="text-decoration: none">
              <h2 class="text-white fw-bold d-block">
                Juvenilia<span class="" style="color: #ff6922"
                  >Technology
                </span>
              </h2>
            </a>
            <p class="mt-4" style="color: #ffffff55">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
              facere delectus qui placeat inventore consectetur repellendus
              optio debitis.
            </p>
            <div class="d-flex hightech-link">
              <a
                href=""
                class="btn-light nav-fill btn btn-square rounded-circle me-2"
                ><i class="fa fa-facebook-f text-primary"></i
              ></a>
              <a
                href=""
                class="btn-light nav-fill btn btn-square rounded-circle me-2"
                ><i class="fa fa-twitter text-primary"></i
              ></a>
              <a
                href=""
                class="btn-light nav-fill btn btn-square rounded-circle me-2"
                ><i class="fa fa-instagram text-primary"></i
              ></a>
              <a
                href=""
                class="btn-light nav-fill btn btn-square rounded-circle me-0"
                ><i class="fa fa-linkedin text-primary"></i
              ></a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <a href="#" class="h3 text-secondary" style="text-decoration: none"
              >Short Link</a
            >
            <div class="mt-4 d-flex flex-column short-link">
              <a href="" class="mb-2 text-white"
                ><i class="fa fa-angle-right text-secondary me-2"></i>About
                us</a
              >
              <a href="" class="mb-2 text-white"
                ><i class="fa fa-angle-right text-secondary me-2"></i>Contact
                us</a
              >
              <a href="" class="mb-2 text-white"
                ><i class="fa fa-angle-right text-secondary me-2"></i>Our
                Services</a
              >
              <a href="" class="mb-2 text-white"
                ><i class="fa fa-angle-right text-secondary me-2"></i>Our
                Projects</a
              >
              <a href="" class="mb-2 text-white"
                ><i class="fa fa-angle-right text-secondary me-2"></i>Latest
                Blog</a
              >
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <a href="#" class="h3 text-secondary" style="text-decoration: none"
              >Help Link</a
            >
            <div class="mt-4 d-flex flex-column help-link">
              <a href="" class="mb-2 text-white"
                ><i class="fa fa-angle-right text-secondary me-2"></i>Terms Of
                use</a
              >
              <a href="" class="mb-2 text-white"
                ><i class="fa fa-angle-right text-secondary me-2"></i>Privacy
                Policy</a
              >
              <a href="" class="mb-2 text-white"
                ><i class="fa fa-angle-right text-secondary me-2"></i>Helps</a
              >
              <a href="" class="mb-2 text-white"
                ><i class="fa fa-angle-right text-secondary me-2"></i>FQAs</a
              >
              <a href="" class="mb-2 text-white"
                ><i class="fa fa-angle-right text-secondary me-2"></i>Contact</a
              >
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <a href="#" class="h3 text-secondary" style="text-decoration: none"
              >Contact Us</a
            >
            <div class="text-white mt-4 d-flex flex-column contact-link">
              <a href="#" class="pb-3 text-light border-bottom border-danger"
                ><i class="fa fa-map-marker-alt text-secondary me-2"></i> Saheed
                Nagar,Bhubaneswar</a
              >
              <a href="#" class="py-3 text-light border-bottom border-danger"
                ><i class="fa fa-phone-alt text-secondary me-2"></i> +999
                9980</a
              >
              <a href="#" class="py-3 text-light border-bottom border-danger"
                ><i class="fa fa-envelope text-secondary me-2"></i>
                info@exmple.con</a
              >
            </div>
          </div>
        </div>
        <hr class="text-light mt-5 mb-4" />
        <div class="row">
          <div class="col-md-6 text-center text-md-start">
            <span class="text-light"
              ><a href="#" class="text-secondary" style="text-decoration: none"
                ><i class="fa fa-copyright text-secondary me-2"></i
                >juveniliatechnology.com</a
              >
              All right reserved.</span
            >
          </div>
          <div class="col-md-6 text-center text-md-end">
            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
            <!-- <span class="text-light"
              >Designed By<a href="https://htmlcodex.com" class="text-secondary"
                ></a
              >
              Distributed By
              <a href="https://themewagon.com">ThemeWagon</a></span
            >
          </div> -->
          </div>
        </div>
      </div>
      <!-- Footer End -->

      <!-- Back to Top -->
      <a
        href="#"
        class="btn bg-black btn-square rounded-circle back-to-top"
        style="
          background-color: hsla(0, 0%, 72%, 0.659) !important;
          backdrop-filter: saturate(200%) blur(15px);
        "
        ><i class="fa fa-arrow-up text-white"> </i
      ></a>
    </div>
  </div>
</div>

<!-- ==================================================== -->
